body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-size: 22px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.menu {
  padding: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #6cb281 0%, #18703a 64%, #0a1b00 100%);
  border-radius: 8px;
  border: 1px solid #424542;

  box-shadow: 4px 4px #e7dfe7, -4px -4px #e7dfe7, 4px -4px #e7dfe7,
    -4px 4px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  overflow: auto;
}

.game-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}

.menu_item_wrapper {
  margin-bottom: 10px;
}

.menu_hand {
  position: relative;
  transform: rotate(-90deg);
  /* top: 0;
  left: 0; */
}

.menu_hand > img {
  width: 50px;
}

/* dorm */

.dorm_hand {
  position: absolute;
  /* top: 0;
  left: 0 ; */
}

.dorm_hand > img {
  width: 50px;
}

.dormMenu {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-image: url("dormroom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
  border: 1px solid #424542;

  box-shadow: 4px 4px #e7dfe7, -4px -4px #e7dfe7, 4px -4px #e7dfe7,
    -4px 4px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  overflow: auto;

  /* overflow: hidden; Ensures the content is not revealed until the animation */
 border-right: 0.15em solid orange; /* The typwriter cursor */
 white-space: nowrap; /* Keeps the content on a single line */
 margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 letter-spacing: 0.15em; /* Adjust as needed */
 animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
} @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
 }

/* CSS for the gym:  */

.gymMenu {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-image: url("Gym.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
  border: 1px solid #424542;

  box-shadow: 4px 4px #e7dfe7, -4px -4px #e7dfe7, 4px -4px #e7dfe7,
    -4px 4px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  overflow: auto;

  /* overflow: hidden; Ensures the content is not revealed until the animation */
 border-right: 0.15em solid orange; /* The typwriter cursor */
 white-space: nowrap; /* Keeps the content on a single line */
 margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 letter-spacing: 0.15em; /* Adjust as needed */
 animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
} @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
 }

/* CSS for the cafeteria:  */

.cafeteriaMenu {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/6c/59/4f/6c594f4c3d0bc911b201f3c08d36d2a2.gif");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
  border: 1px solid #424542;

  box-shadow: 4px 4px #e7dfe7, -4px -4px #e7dfe7, 4px -4px #e7dfe7,
    -4px 4px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  overflow: auto;

  /* overflow: hidden; Ensures the content is not revealed until the animation */
 border-right: 0.15em solid orange; /* The typwriter cursor */
 white-space: nowrap; /* Keeps the content on a single line */
 margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 letter-spacing: 0.15em; /* Adjust as needed */
 animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
} @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
 }

/* CSS for the library:  */

.libraryMenu {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-image: url("https://thumbs.gfycat.com/ImaginativeUnfortunateArabianoryx-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
  border: 1px solid #424542;

  box-shadow: 4px 4px #e7dfe7, -4px -4px #e7dfe7, 4px -4px #e7dfe7,
    -4px 4px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  overflow: auto;

  /* overflow: hidden; Ensures the content is not revealed until the animation */
 border-right: 0.15em solid orange; /* The typwriter cursor */
 white-space: nowrap; /* Keeps the content on a single line */
 margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 letter-spacing: 0.15em; /* Adjust as needed */
 animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
} @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
 }

/* CSS for the Frat:  */

.FratMenu {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-image: url("https://i.ytimg.com/vi/5pMGUL0A3Bk/hqdefault.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
  border: 1px solid #424542;

  box-shadow: 4px 4px #e7dfe7, -4px -4px #e7dfe7, 4px -4px #e7dfe7,
    -4px 4px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  overflow: auto;

  /* overflow: hidden; Ensures the content is not revealed until the animation */
 border-right: 0.15em solid orange; /* The typwriter cursor */
 white-space: nowrap; /* Keeps the content on a single line */
 margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 letter-spacing: 0.15em; /* Adjust as needed */
 animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
} @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
 }



